@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.main{
    display: inline-flex;
height: 696px;
    width: 350px;
flex-direction: column;
align-items: flex-start;
border-radius: 20px;
border: 1px solid rgba(136, 136, 136, 0.20);
background: #212126;
}
.head{
    display: flex;
padding: 16px 20px;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-radius: 20px 20px 0px 0px;
border-bottom: 1px solid rgba(139, 139, 139, 0.20);
background: #212126;
}
.img_head{
    display: flex;
align-items: center;
gap: 16px;
}
.img_head img{
    width: 30px;
    height: 30px;
border-radius: 50%;
}
.img_head h1{
    color: #FFF;

/* Heading/H6 */
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.search{
    display: flex;
height: 56px;
padding: 13px 35px;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
align-self: stretch;
}
.search input{
    display: flex;
width: 263px;
padding: 6px 16px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 43px;
border: 1px solid rgba(139, 139, 139, 0.20);
background: #26262F;
color: #8B8B8B;

/* Body/Regular-14 */
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.contactCover{
    display: flex;
width: 100%;
height: 73px;
padding: 10px 20px;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
border-bottom: 1px solid rgba(139, 139, 139, 0.20);
background: #212126;
}
.contact{
    display: flex;
justify-content: space-between;
align-items: center;
flex: 1 0 0;
align-self: stretch;
}
.contact img{
    width: 45px;
    height: 45px;
border-radius: 50%;
}
.contact .info h1{
    color: #FFF;

    /* Heading/H6 */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact .info p{
    color: #8B8B8B;

    /* Body/Regular-14 */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.imgInfo{
    display: flex;
align-items: center;
gap: 8px;
cursor: pointer;
}
.contactCover:hover{
    background: #26262F;
   
}
.foot{
    display: flex;
width: 100%;
padding: 16px 10px;
justify-content: space-between;
align-items: center;
border-top: 1px solid rgba(136, 136, 136, 0.20);
}
.inputAttach{
    display: flex;
width: 60%;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
}
.inputAttach textarea{
    color: var(--Symentic-Gray-100, #8B8B8B);
    background-color: transparent;
    border: none;
    height: 20px;
/* Body/Regular-14 */
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
resize: none;

}
.emojiMicSend{
    display: flex;
justify-content: center;
align-items: center;
gap: 16px;
}
.emojiMicSend svg:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 200ms;
}
.messages{
    padding: 10px;
    height: 64vh;
    overflow-y: scroll;
    
}
.receiveMsg{
    display: flex;
max-width: 80%;
padding: 8px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
border-radius: 10px 10px 10px 0px;
border: 1px solid var(--Symentic-Gray-20, #343434);
}
.receiveMsgCover{
    width: 100%;
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}
.sendMsgCover{
    display: inline-flex;
width: 100%;
flex-direction: column;
align-items: flex-end;
gap: 4px;
}
.sendMsg{
    display: flex;
max-width: 80%;
max-width: 321px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px 10px 0px 10px;
background: #FFF;
}
.receiveMsg p{
    align-self: stretch;
    color: #FFF;

/* Body/Regular-14 */
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sendMsg p{
    align-self: stretch;
    color: #000;

/* Body/Regular-14 */
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.time{
    color: var(--Symentic-Gray-100, #8B8B8B);
font-family: "DM Sans";
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
}